#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  overflow: "hidden";
}

body {
  margin: 0;
  overflow: "hidden";
}

.hide-scrollbar {
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
